{% extends "base.html" %}
{% block body_class %}detail-page{% endblock %}
{% block content %}

<h2 class="page-title">Детали бронирования</h2>

<div class="container">

<div class="dashboard-card">

<h3>Стол {{ reservation.table }}</h3>

<p>
Дата: {{ reservation.date }} <br>
Время: {{ reservation.time }} <br>
Статус: {{ reservation.status }}
</p>

<div class="reservation-actions">

<a class="btn btn-outline-warning"
href="{% url 'booking:reservation_edit' reservation.id %}">
Изменить
</a>

<a class="btn btn-outline-danger"
href="{% url 'booking:reservation_cancel' reservation.id %}">
Отменить
</a>

</div>

</div>

</div>

{% endblock %}