{% extends "base.html" %}

{% block content %}

<h1>Мои бронирования</h1>

{% for r in reservations %}

<div style="margin-bottom:20px">

Стол: {{ r.table }} <br>
Дата: {{ r.date }} <br>
Время: {{ r.time }} <br>
Статус: {{ r.status }}

<br><br>

<a href="{% url 'booking:reservation_detail' r.id %}">Подробнее</a>
<a href="{% url 'booking:reservation_edit' r.id %}">Изменить</a>
<a href="{% url 'booking:reservation_cancel' r.id %}">Отменить</a>

</div>

<hr>

{% empty %}

<p>У вас нет бронирований</p>

{% endfor %}

{% endblock %}