{% extends "base.html" %}
{% block body_class %}reservations-page{% endblock %}
{% block content %}




<h2 class="page-title">Мои бронирования</h2>

<div class="container">

<div class="row">

{% for r in reservations %}

<div class="col-md-6 mb-4">

<div class="reservation-card">

<h4>Стол {{ r.table }}</h4>

<p>
Дата: {{ r.date }} <br>
Время: {{ r.time }} <br>
Статус: {{ r.status }}
</p>

<div class="reservation-actions">

<a class="btn btn-outline-light btn-sm"
href="{% url 'booking:reservation_detail' r.id %}">
Подробнее
</a>

<a class="btn btn-outline-warning btn-sm"
href="{% url 'booking:reservation_edit' r.id %}">
Изменить
</a>

<a class="btn btn-outline-danger btn-sm"
href="{% url 'booking:reservation_cancel' r.id %}">
Отменить
</a>

</div>

</div>

</div>

{% empty %}

<p>У вас нет бронирований</p>

{% endfor %}

</div>

</div>

{% endblock %}