{% extends "base.html" %}
{% block body_class %}detail-page{% endblock %}
{% block content %}
<h2 class="page-title mb-3">Редактировать бронирование</h2>
<section class="contact-form container py-3">

<div class="form-wrapper">

<form method="post">

{% csrf_token %}

<div class="form-group">
<label>Стол</label>
{{ form.table }}
</div>

<div class="form-group">
<label>Дата</label>
{{ form.date }}
</div>

<div class="form-group">
<label>Время</label>
{{ form.time }}
</div>

    <div class="form-group">
<label>Количество гостей</label>
{{ form.guests}}
</div>

<button type="submit" class='btn btn-dark btn-sm mt-2 mb-2'>
Забронировать

</button>
 <a href="{% url 'booking:my_reservations' %}">Назад</a>
</form>

</div>

</section>

{% endblock %}