.lead{
max-width:560px;
color:#2b2b2b;
margin:auto;
}

/* HERO */

.hero{

height:500px;

background-image:url("../images/r2.avif");
background-size:cover;
background-position:center;

display:flex;
align-items:center;
justify-content:center;

color:white;
text-align:center;

text-shadow:2px 2px 5px black;

}


/* FORM */

.contact-form{
text-align:center;
}

.form-wrapper{

max-width:500px;
margin:0 auto;

background:#f8f8f8;
padding:30px;

border-radius:10px;

box-shadow:0 5px 15px rgba(0,0,0,0.1);

}


/* CARDS */

.card{
height:100%;
}

.card img{
height:200px;
object-fit:cover;
}