/* header */
.main-header{
position:absolute;
top:0;
left:0;
width:100%;
z-index:1000;
background:transparent;
}

.main-nav{
display:flex;
justify-content:center;
gap:20px;
padding:20px;
}

.main-nav a{
color:black;
text-decoration:none;
font-weight:700;
font-size:18px;
}

.main-nav a:hover{
text-decoration:underline;
}

.lead{
max-width:560px;
color:#2b2b2b;
margin:auto;
}
body{
background:#081224;
color:#ffffff;
font-family:Arial, sans-serif;
margin:0;
padding:0;
}

/* HERO */

.hero{
height:650px;

background-image:url("../images/r6.jpg");
background-size:cover;
background-position:center;

display:flex;
align-items:center;
justify-content:center;

color:white;
text-align:center;

text-shadow:2px 2px 5px black;

margin-top:-80px;
padding-top:80px;
}

/* FORM */

.contact-form{
text-align:center;
}

.form-wrapper{

max-width:500px;
margin:0 auto;

background:#f8f8f8;
padding:30px;

border-radius:10px;

box-shadow:0 5px 15px rgba(0,0,0,0.1);

}


/* CARDS */

.card{

border:none;
border-radius:10px;
overflow:hidden;

transition:0.3s;

color:black;

}

.card img{
height:200px;
object-fit:cover;
}

.card:hover{

transform:translateY(-5px);
box-shadow:0 10px 25px rgba(0,0,0,0.2);

}

.service .card{
height:100%;
}

/* О нашем Ресторане */
.description{

text-align:center;
padding:80px 0;

}

.description h2{

margin-bottom:25px;
font-weight:600;

}

.description .lead{

max-width:700px;
margin:auto;
color:#d0d8e2;
font-size:18px;

}

section{
padding:60px 0;
}

.footer{

background:#050d1a;
color:#cbd3df;

text-align:center;

padding:40px 0;
margin-top:80px;

}

.service .row{
justify-content:center;
}

@media (max-width:768px){

.main-nav{
flex-direction:column;
align-items:left;
gap:5px;
}

.main-nav a{
font-size:13px;
}

.main-nav{
flex-wrap:wrap;
}