{% extends "base.html" %}
{% load static %}
{% block title %}О нас{% endblock %}
{% block body_class %}about-page{% endblock %}
{% block content %}

<section class="hero-about">

<div class="hero-overlay text-center">

    <h1>История нашего ресторана</h1>

</div>


</section>

<div class="divider">

<span></span>
⚜
<span></span>

</div>
<section class="about-story container py-3">

<div class="row align-items-center">

<div class="col-lg-6">
        <h2>Добро пожаловать в Aurum</h2>
<h3>История нашего ресторана</h3>


<p class="about-text">
Наш ресторан был основан более 10 лет назад и начинался
как небольшой семейный проект. Мы хотели создать место,
где люди смогут попробовать настоящую русскую кухню.

Со временем ресторан вырос, но мы сохранили
главные принципы: качество, традиции и гостеприимство.

Сегодня наш ресторан — это уютное место,
где собираются семьи, друзья и коллеги.
</p>

</div>

<div class="col-lg-6">

<div class="about-card">
<img src="{% static 'images/r5.jpg' %}" alt="">
</div>

</div>

</div>
</section>

<div class="divider">

<span></span>
⚜
<span></span>

</div>

<!--Наша миссия и ценности-->
<section class="about-mission container py-3">

<div class="row align-items-center">

<div class="col-lg-6 order-2 order-lg-1">

<div class="about-card">
<img src="{% static 'images/r3.jpg' %}" alt="">
</div>

</div>

<div class="col-lg-6 order-1 order-lg-2">

<h3 class="text-center text-lg-left">Наша миссия и ценности</h3>

<p class="about-text">
Наша миссия - сохранять традиции русской кухни
и делиться ими с гостями.

Мы ценим качество продуктов,
уважаем классические рецепты
и стремимся создавать атмосферу
настоящего гостеприимства.
</p>

</div>

</div>

</section>

<div class="divider">

<span></span>
⚜
<span></span>

</div>


<!-- Команда -->
<section class="service container py-3">

<h3 class="text-center mt-3">Наша Команда</h3>
    <h4 class="text-center mb-5 mt-3"> Мы Всегда Рады видеть Вас</h4>

<div class="row">

<div class="col-lg-3 col-md-6 col-12 mb-5">

<div class="card">
<img src="{% static 'images/of1.avif' %}" class="card-img-top">

<div class="card-body">
<h5 class="card-title">Кухня</h5>

<p class="card-text">

</p>

</div>
</div>
</div>


<div class="col-lg-3 col-md-6 col-12 mb-5">

<div class="card">
<img src="{% static 'images/a4.jpg' %}" class="card-img-top">

<div class="card-body">

<h5 class="card-title">Администратор</h5>

<p class="card-text">

</p>

</div>
</div>
</div>


<div class="col-lg-3 col-md-6 col-12 mb-5">

<div class="card">

<img src="{% static 'images/p1.avif' %}" class="card-img-top">

<div class="card-body">

<h5 class="card-title">Зал</h5>

<p class="card-text">

</p>

</div>
</div>
</div>
<div class="col-lg-3 col-md-6 col-12 mb-5">

<div class="card">

<img src="{% static 'images/p5.jpg' %}" class="card-img-top">

<div class="card-body">

<h5 class="card-title">Руководитель</h5>

<p class="card-text">

</p>

</div>
    </div>
</div>
</div>

<div class="divider">

<span></span>
⚜
<span></span>

</div>

</section>
<section class="halls container py-3">

<h3 class="text-center mt-2 mb-5">Наши уютные залы</h3>

<div id="carouselExampleFade" class="carousel slide" data-ride="carousel">

<div class="carousel-inner">

<div class="carousel-item active">
<img src="{% static 'images/r5.jpg' %}" class="d-block w-100 carousel-img">
</div>

<div class="carousel-item">
<img src="{% static 'images/r3.jpg' %}" class="d-block w-100 carousel-img">
</div>

<div class="carousel-item">
<img src="{% static 'images/r4.jpg' %}" class="d-block w-100 carousel-img">
</div>

</div>

<a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
<span class="carousel-control-prev-icon"></span>
</a>

<a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
<span class="carousel-control-next-icon"></span>
</a>

</div>

</section>


{% endblock %}


