<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Booking</title>

    {% load static %}

    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

<header>

<nav class="container mt-3">

<a href="{% url 'pages:home' %}">Главная</a>

<a href="{% url 'pages:about' %}">О нас</a>

<a href="{% url 'booking:booking' %}">Бронирование</a>

<a href="{% url 'booking:my_reservations' %}">Мои бронирования</a>

{% if user.is_authenticated %}

<span>Привет, {{ user.username }}</span>

<a href="{% url 'logout' %}">Выйти</a>

{% else %}

<a href="{% url 'login' %}">Войти</a>

<a href="{% url 'users:register' %}">Регистрация</a>

{% endif %}

</nav>

</header>

<hr>

{% block content %}
{% endblock %}

</body>
</html>