<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Booking</title>

    {% load static %}

    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

<header class="main-header">

<nav class="main-nav container">

<a href="{% url 'pages:home' %}">Главная</a>
<a href="{% url 'pages:about' %}">О нас</a>
<a href="{% url 'booking:booking' %}">Бронирование</a>

</nav>

</header>

<hr>

{% block content %}
{% endblock %}

</body>
</html>