<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Booking</title>
</head>

<body>

<header>

<nav>

<a href="{% url 'pages:home' %}">Главная</a>

<a href="{% url 'pages:about' %}">О нас</a>

<a href="{% url 'booking:booking' %}">Бронирование</a>

<a href="{% url 'booking:my_reservations' %}">Мои бронирования</a>

{% if user.is_authenticated %}

<span>Привет, {{ user.username }}</span>

<a href="{% url 'logout' %}">Выйти</a>

{% else %}

<a href="{% url 'login' %}">Войти</a>

<a href="{% url 'users:register' %}">Регистрация</a>

{% endif %}

</nav>

</header>

<hr>

{% if messages %}
<ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% block content %}
{% endblock %}

</body>
</html>